<!DOCTYPE html>
<html id="page">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcout icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AyudaEnPython | Tools</title>
    <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% include 'header.html' %} {% include 'modal.html' %}
    <section class="section bg-gray-900">
      <div class="hero fullscreen">
        <div class="hero-body">
          <div class="content text-center w-70p-md">
            <h1 class="text-gray-200">🛠️ Herramientas</h1>
            <h6 class="font-alt font-light text-gray-500">
              Comunidad <b class="text-gray-400">AyudaEnPython</b>
            </h6>
            <div class="grid grid-cols-4-lg grid-cols-2 u-gap-2" id="cards">
              {% include 'cards.html' %}
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </section>
    <script src="assets/js/main.js"></script>
  </body>
</html>
