<div class="modal modal-large" id="app-modal">
  <a href="" class="modal-overlay close-btn" aria-label="Close"></a>
  <div class="modal-content bg-transparent" role="document">
    <div class="modal-body max-h-90p">
      <div id="apps"></div>
    </div>
    <div class="modal-footer u-text-right">
      <a href="" class="u-inline-block mr-1">
        <button class="btn--sm">Close</button>
      </a>
      <a href="" class="u-inline-block mr-1"></a>
        <button class="btn-info btn--sm" id="shareButton">Share</button>
      </a>
    </div>
  </div>
</div>
